@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body{
   font-family: Quicksand, sans-serif;
   max-width: 40rem;
   min-height: fit-content;
   margin: auto;
   padding: 0;
   border: 1px solid #3399E3;
   border-block: none;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ff5f2b1d;
   background-color: #3399E3;
   color: #f9faf5;
   padding: .7em 1.2rem;
   box-shadow: 0px 3px 8px rgba(55, 0, 0, .3);
}

.page-title{
   
}

.links a{
  margin-inline: .3em;
  color: inherit;
}

section {
   padding: .5em;
}

.bob-cont, .bob-data{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   height: fit-content;
   padding-block: 2em;
}

.bob{
   font-size: 4em;
   color: #3399E3;
}
.txt{
   text-align: center;
}
.bob-cont em{
   color: #1F3038;
   font-size: .6em;
}

.bob-data{
   padding-bottom: .5em;
   border: 1px solid #3399E3;
   font-size:.7em;
   color: #1F3038;
   line-height: 1.5rem;
}
.intro{
   color: #3399E3;
   
}

.bobs-detail{
   line-height: 1.5rem;
}

.bob-cont h4, .bob{
 margin: 0;
 text-align: center;
}
.get-bob{
   color: #3399E3;
}

.ul-title{
   font-size: 1.2em;
   color: #3399E3;
   font-weight: bold;
   
}

footer{
   background-color: #3399E3;
   color: white;
   text-align: center;
   margin-top: 3em;
   font-size: .7em;
   font-style: italic;
   padding: .5em;
}